{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "ie": 11,
        "browsers": [
          "> 0.25%",
          "not dead"
        ],
      },
      "include": ["transform-es2015-block-scoping"]
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
    ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
