log
artifacts
sample_data
frontend/dist-build
dist/
infrastructure/heat-templates/CIT/param/*
infrastructure/heat-templates/floating-ip/param/*
.lastcommit
histovec-build
*.tar.gz
*.tar
node_modules/
