log
artifacts
sample_data
frontend/dist-build
dist/
.env
.idea
.lastcommit
histovec-build
*.tar.gz
*.tar
node_modules/
data/encrypted
backend/.build-lock
backend/src/utac/
frontend/.nvmrc
frontend/.build-lock
frontend/.nvmrc
artifacts_dev
artifacts_prod
artifacts_qualif
swift_get_token.sh
data/decrypted/.~lock*
data/decrypted/*.csv
backend/redis/data-dummy/dump.rdb

