log
artifacts
sample_data
frontend/dist-build
dist/
infrastructure/heat-templates/CIT/param/*
infrastructure/heat-templates/floating-ip/param/*
.idea
.lastcommit
histovec-build
*.tar.gz
*.tar
node_modules/
data/encrypted
backend/.build-lock
backend/src/utac/
frontend/.build-lock
artifacts_dev
artifacts_prod
artifacts_qualif
swift_get_token.sh
