version: '2'

networks:
  default:
    external:
      name: ${APP}

services:
  nginx:
    image: nginx
    container_name: ${APP}-nginx
    volumes:
      - ${APP_PATH}/nginx/nginx-run.template:/etc/nginx/conf.d/default.template
      - ${APP_PATH}/nginx/tor-ip.conf:/etc/nginx/tor-ip.conf
      - ${APP_PATH}/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ${FRONTEND}/dist:/usr/share/nginx/html
    ports:
      - ${PORT}:80
    restart: always
    command: /bin/bash -c '(sed "s/<APP>/${APP}/g;s/<dataset>/${dataset}/g;s/<ES_HOST>/${ES_HOST}/g;" < /etc/nginx/conf.d/default.template > /etc/nginx/conf.d/default.conf) && nginx -g "daemon off;"'
    restart: always
