version: '2'

# this docker configuation intends to build frontend
# it is supposed that your declared some ENV variables:
#   - ${FRONTEND} points to ${APP} frontend

services:
  build-frontend:
    build:
      context: ${FRONTEND}
      dockerfile: Dockerfile.build
      args:
        proxy: ${http_proxy}
        app_path: ${APP}
    image: ${APP}-frontend:latest
    container_name: ${APP}-build-front
    volumes:
      - ${FRONTEND}/index.html:/${APP}/index.html
      - ${FRONTEND}/.babelrc:/${APP}/.babelrc
      - ${FRONTEND}/.editorconfig:/${APP}/.editorconfig
      - ${FRONTEND}/.eslintignore:/${APP}/.eslintignore
      - ${FRONTEND}/.eslintrc.js:/${APP}/.eslintrc.js
      - ${FRONTEND}/${APP}Config:/${APP}/${APP}Config/
      - ${FRONTEND}/config:/${APP}/config/
      - ${FRONTEND}/src:/${APP}/src/
      - ${FRONTEND}/build:/${APP}/build/
      - ${FRONTEND}/static:/${APP}/static/
      - ${FRONTEND}/dist-build:/${APP}/dist/
