version: '3.4'

# this docker configuation is for dev use only

services:
  public_backend_nginx_dev:
    image: ${APP}-public-backend-nginx-${EXEC_ENV}
    build:
      context: ${PUBLIC_BACKEND_NGINX}
      target: ${EXEC_ENV}
      dockerfile: Dockerfile
      args:
        app_name: ${APP}
        app_ver: ${APP_VERSION}
    container_name: ${APP}-public-backend-nginx-${EXEC_ENV}
    environment:
      - APP
      - PUBLIC_BACKEND_HOST
      - PUBLIC_BACKEND_PORT
      - PUBLIC_BACKEND_API_GLOBAL_BURST
      - PUBLIC_BACKEND_API_GLOBAL_LIMIT_RATE
      - PUBLIC_BACKEND_API_USER_LIMIT_RATE
      - PUBLIC_BACKEND_API_USER_SCOPE
      - PUBLIC_BACKEND_API_USER_BURST
      - PUBLIC_BACKEND_API_WRITE_LIMIT_RATE
    volumes:
      - ${APP_PATH}/public-backend-nginx/nginx-dev.template:/etc/nginx/conf.d/default.template
      - ${APP_PATH}/public-backend-nginx/nginx.template:/etc/nginx/nginx.template
    ports:
      - ${PORT_DEV}:80
    restart: always

networks:
  default:
    external:
      name: ${APP}
