server {
  listen 80 default_server;
  include tor-ip.conf;

  # frontend (dev, npm server)
  location / {
    try_files $uri @rew;
  }

  location @rew {
    return 302 $scheme://$http_host/<APP>/;
  }

  location ~ (__webpack_hmr|app.js) {
  	proxy_pass http://frontend-dev:8080;
  }

  location /<APP> {
        proxy_pass http://frontend-dev:8080;
  }

  location /<APP>/assets {
    alias /usr/share/nginx/html/assets;
  }

  location ~ "^/<APP>/api/v0/id/([A-Za-z0-9_-]{43}=)$" {
    if ($request_method != GET) {
       return 403;
    }
    rewrite "^/.*/id/([A-Za-z0-9_-]{43}=)$" /<dataset>/_search?q="$1"&size=1 break;
    proxy_pass http://<ES_HOST>:9200;
    proxy_redirect off;
    proxy_hide_header Content-Type;
    proxy_set_body '{"_source": "v"}';
    proxy_set_header content-type "application/json";
    proxy_method POST;
    proxy_buffering off;
    proxy_http_version 1.1;
  }

  location ~ (^/<APP>/api/v0/(contact|feedback)/) {
    if ($request_method != POST) {
       return 403;
    }
    rewrite "^/.*/(contact|feedback)/$" /$1/_doc break;
    proxy_pass http://elasticsearch:9200;
    proxy_redirect off;
    proxy_hide_header Content-Type;
    proxy_set_header content-type "application/json";
    proxy_buffering off;
    proxy_http_version 1.1;
  }



}
