server {
  listen 80 default_server;

  # frontend (dev, npm server)
  location / {
  	proxy_pass http://frontend-dev:8080;
  }

  location /<APP> {
        proxy_pass http://frontend-dev:8080;
  }

  # backend RESTful API
  location ~  (^/<APP>/api/v0/.*) {
    proxy_pass http://backend:8081;
    proxy_redirect off;
    proxy_read_timeout 3600;
    proxy_send_timeout 600;
    # Allow large uploads
    client_max_body_size 0;
    # Allow protocol upgrade to websocket
    proxy_http_version 1.1;
    proxy_next_upstream off;
    proxy_set_header Host $http_host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

}
