.has-background-black{
   background-color: $black !important;
}
.has-background-black-bis{
   background-color: $black-bis !important;
}
.has-background-black-ter{
   background-color: $black-ter !important;
}
.has-background-grey-darker{
   background-color: $grey-darker !important;
}
.has-background-grey-dark{
   background-color: $grey-dark !important;
}
.has-background-grey{
   background-color: $grey !important;
}
.is-background-grey-light{
   background-color: $grey-light !important;
}
.has-background-grey-lighter{
   background-color: $grey-lighter !important;
}
.has-background-white-ter{
   background-color: $white-ter !important;
}
.has-background-white-bis{
   background-color: $white-bis !important;
}
.has-background-white{
   background-color: $white !important;
}
.has-background-orange{
   background-color: $orange !important;
}
.has-background-yellow{
   background-color: $yellow !important;
}
.has-background-green{
   background-color: $green !important;
}
.has-background-turquoise{
   background-color: $turquoise !important;
}
.has-background-blue{
   background-color: $blue !important;
}
.has-background-cyan{
   background-color: $cyan !important;
}
.has-background-purple{
   background-color: $purple !important;
}
.has-background-red{
   background-color: $red !important;
}
